
.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}
.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}
.input-group { margin-bottom:10px; }
.separator { border-right: 1px solid #dfdfe0; }

.listItemWithButtons {
    padding: 0;
}

.listItemWithButtons * {
    border-radius: 0;
    border: white;
    white-space: normal;
}

.franchiseName {
    width: 60%;
    /* TODO: something more here to make it look different from series name */
}

.nameWithOneButton {
    width: 80%;
    text-align: left;
}

.listItemBtn {
    padding: 8px 0 4px;
    width: 20%;
}
